.html {
  background-color: #000000;
  color: #fff;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo:wght@600&display=swap");

.body {
  font-family: "Heebo", sans-serif;
}
