.snsbox {
  position: fixed;
  bottom: 0;
  width: 180px;
  height: 45px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.snsItem {
  display: block;
  width: 53px;
  text-align: center;
  margin: 0 auto;
}
.snsLink {
  display: block;
  width: 30px;
  height: 30px;
}
.icon {
  display: block;
  width: 30px;
  height: 30px;
  color: white;
}
