.sidebar {
  width: 180px;
  height: 100vh;
  overflow: hidden;
  background-color: gray;
}
.container {
  width: 100%;
  hegiht: 90%;
  margin-top: 90px;
}

/* タブレット */
@media screen and (max-width: 1280px) {
  .sidebar {
    display: none;
  }
}

/* スマートフォン */
@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
