:root {
    // 最大幅の定義
    --max-width: 1100px;

    // フォントの定義
    --font-mono: 'Mukta', sans-serif;

    // フォントサイズの定義
    --font-size-small: 12px;
    --font-size-normal: 16px;
    --font-size-large: 24px;
    --font-size-xlarge: 32px;
    --font-size-xxlarge: 50px;

    // 色の定義
    --primary-color: #001529;
    --secondary-color: #ff5500;
    --background-color: #f4f4f4;
    --text-color: #333;

    // その他の変数
    --border-radius: 4px;

    // レスポンシブサイズの定義(max-width)
    --tablet: 1024px;
    --mobile: 768px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-mono);
    color: var(--text-color);
    background-color: var(--background-color);
    font-size: var(--font-size-normal);
    line-height: 1.6;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
