// 上のRowBoxのスタイル
// LargeCard
.titleFlex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .title {
        font-size: 30px;
        font-weight: bold;
    }
}
.contentFlex {
    display: flex;
    justify-content: space-between;
    .contentText {
        display: block;
        padding-top: 20px;
        width: 80%;
        font-size: 17px;
        line-height: 25px;
    }
    .contentImage {
        display: block;
    }
}
