.buttonArea {
  width: 200px;
  height: 80px;
  padding: 5px;
}
.button {
  display: block;
  width: 200px;
  height: 45px;
  color: white;
  font-size: 17px;
  font-weight: 550;
  border-radius: 10px;
  line-height: 45px;
  text-align: center;
  background-color: #87cefa;
  text-decoration: none;
  cursor: pointer;
}
.button:hover {
  background-color: #add8e6;
}
