.footer {
  width: 100%;
  height: 340px;
  padding: 50px 100px 20px 100px;
  box-sizing: border-box;
  color: white;
  border-top: 0.3px solid gray;
}
.container {
  width: 100%;
  height: 100%;
}
.topBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.rightBox {
  right: 0;
  display: flex;
}
.menuBox {
  width: 150px;
}
.menuBox ul {
  list-style: none;
}
.menuBox ul li {
  display: block;
  width: 100%;
  height: 30px;
  font-size: 15px;
  line-height: 20px;
}
.snsBox {
  width: 150px;
  list-style: none;
}
.snsBox ul {
  list-style: none;
}
.snsBox ul li {
  display: block;
  width: 100%;
  height: 30px;
  font-size: 15px;
  line-height: 20px;
}
.underBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footerLink {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 30px 10px 30px 10px;
  }
  .topBox {
    display: block;
  }
  .logoBox {
    margin-bottom: 70px;
  }
  .menuBox ul li {
    font-size: 13px;
  }
  .snsBox ul li {
    font-size: 13px;
  }
  .basicBox {
    display: none;
    margin-bottom: 10px;
  }
  .copyright p {
    font-size: 12px;
  }
}
