.header {
  width: 100%;
  height: 80px;
  padding: 0 20px;
  box-sizing: border-box;
  color: white;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerListBox {
  display: flex;
}

@media screen and (max-width: 1280px) {
  .header {
    height: 60px;
    padding: 0 5px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    height: 60px;
    padding: 0 5px;
  }
  .headerListBox {
    display: none;
  }
}
