.headerLink {
  display: block;
  height: 80px;
  margin-right: 35px;
  line-height: 80px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.headerLink:hover {
  color: #00ff00;
  transition: all 0.3s;
}

// props css
.small {
  font-size: 10px;
}
.medium {
  font-size: 15px;
}
.large {
  font-size: 20px;
}
