.tagsLInk {
  padding: 10px;
  box-sizing: border-box;
  margin-right: 20px;
  font-size: 13px;
  border: 1px solid white;
  border-radius: 20px;
  text-decoration: none;
}
.tagsLInk:hover {
  transition: all 0.8s;
  background-color: #00ff00;
}
