.card {
  display: block;
  width: 30%;
  padding: 20px 10px 40px 10px;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 10px;
}
.cardImg {
  width: 100%;
  border-radius: 10px;
}
.cardTitle {
  display: block;
  height: 70px;
  font-size: 25px;
  line-height: 70px;
  margin-bottom: 10px;
}
.tagsFlexBox {
  display: block;
}

.card:hover {
}

@media screen and (max-width: 768px) {
  .card {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px;
    box-sizing: border-box;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .cardTitle {
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
