.basicCard {
    width: calc((60% - 20px) / 2);
    height: 100%;
    // min-height: 450px;
    padding: 20px 30px;
    border: 1px solid black;
    border-radius: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}
