.largeCard {
    width: 60%;
    height: 100%;
    padding: 20px 30px;
    border: 1px solid black;
    border-radius: 20px;
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
