.card {
  width: 450px;
  padding: 15px 10px 30px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  // delete css
  margin: 100px 100px;
  border: 1px solid white;
}
.card:hover {
  border: 1px solid rgb(47, 255, 0);
  transition: all 0.8s;
}

.articleImg {
  display: block;
  width: 100%;
  max-height: 300px;
  margin-bottom: 10px;
}
.articleTitle {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
}
.articleDate {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 17px;
}

// modal child components css
.overlay {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  z-index: 2;
  width: 20%;
  height: 1000px;
  margin: 0 auto;
  padding: 100px 50px;
  box-sizing: border-box;
}
.sampleImg {
  width: 80%;
  margin: 0 auto;
}
