.logo {
    display: block;
    width: 100px;
}
.logoImage {
    object-fit: cover;
}

/* props css */
.small {
    width: 100px;
}
.medium {
    width: 150px;
}
.large {
    width: 200px;
}


@media screen and (max-width: 1024px) {
    .logo {

    }
    
    // props
    .small {
    
    }
    .medium {
    
    }
    .large {
    
    }
}