.btn {
  display: block;
  max-width: 200px;
  width: 180px;
  height: 90px;
  margin-left: 40px;
  text-align: center;
  text-decoration: none;
  background-color: var(--main-black-color);
  &:hover {
    transition: all 0.3s ease-in-out;
    background-color: var(--main-pink-color);
  }
  .text {
    color: var(--main-white-color);
    font-size: 18px;
    line-height: 90px;
    &:hover {
      transition: all 0.3s ease-in-out;
      color: var(--main-black-color);
    }
  }
}

@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 768px) {
}
