.hamburgerBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;

  &.open .line {
    &:nth-child(1) {
      height: 2px;
      transform: rotate(45deg) translateX(10px); // translateYをtranslateXに修正します
    }
    &:nth-child(2) {
      opacity: 0;
    }
  }

  .icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;

    .line {
      background-color: var(--main-white-color);
      width: 45px;
      transition: all 0.3s ease;
      &:nth-child(1) {
        height: 2px;
        transform: translateY(6px);
      }
      &:nth-child(2) {
        height: 2px;
        transform: translateY(8px);
      }
    }
  }
}
