.link {
  display: block;
  padding: 17px 30px;
  border-radius: 10px;
  background-color: var(--main-blue-color);
  text-decoration: none;
  &:hover {
    background-color: var(--sub-blue-color);
  }
  .btnText {
    color: var(--main-white-color);
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}
