.link {
  cursor: pointer;
  text-decoration: none;
  margin: 0px 25px;
  position: relative; // 相対位置指定
  .text {
    font-size: 18px;
    line-height: 90px;
    font-weight: 550;
    color: var(--main-black-color);
    position: relative; // 相対位置指定
    &:before {
      content: '';
      position: absolute; // 絶対位置指定
      bottom: 20px;
      left: 0;
      width: 0;
      height: 2.5px;
      background-color: var(--main-pink-color); // ボーダーの色
      transition: width 0.3s ease-in-out; // アニメーション
    }
  }
  &:hover {
    .text:before {
      width: 100%; // hover時にborder-bottomを伸ばす
    }
  }
}

@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 768px) {
}
