.listItem {
  position: relative;
  display: block;
  text-decoration: none;
  cursor: pointer;
  margin-right: 50px;

  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.2s ease-in-out;
    background-color: var(--main-white-color);
  }

  &:hover::after {
    width: 100%;
  }
}

// props
.small {
  font-size: var(--small-font-size);
}
.medium {
  font-size: var(--default-font-size);
}
.large {
  font-size: var(--large-font-size);
}
.black {
  color: var(--main-black-color);
}
.white {
  color: var(--main-white-color);
}

@media screen and (max-width: 1024px) {
  .listItem {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .listItem {
    display: none;
  }
}
