.logoBox {
  text-decoration: none;
  cursor: pointer;
  width: 250px;
  height: 80px;
  .text {
    line-height: 80px;
    text-align: center;
  }
}

// props
.black {
  color: var(--main-black-color);
}
.white {
  color: var(--main-white-color);
}
.blue {
  color: var(--main-blue-color);
}
.small {
  font-size: var(--small-font-size);
}
.medium {
  font-size: var(--default-font-size);
}
.large {
  font-size: 40px;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}
