.logoBox {
  text-decoration: none;
  cursor: pointer;
  width: 250px;
  height: 80px;
  z-index: 10;
  .text {
    line-height: 80px;
    font-weight: 550;
    text-align: center;
  }
}

// props
.black {
  color: var(--main-black-color);
}
.white {
  color: var(--main-white-color);
}
.blue {
  color: var(--main-blue-color);
}
.small {
  font-size: var(--small-font-size);
}
.medium {
  font-size: 20px;
}
.large {
  font-size: 50px;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}
