.linkBox {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 9999px;
  transition:
    background-color 0.3s,
    color 0.3s;
  text-decoration: none;
  .logoText {
    margin-right: 8px;
    font-size: 16px;
  }
  .arrow {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px; // 円の直径
    height: 24px; // 円の直径
    border-radius: 50%; // 円を作成
    border: 1px solid #000; // 円のボーダー
    &:before,
    &:after {
      content: '';
      position: absolute;
      border: solid #000;
      border-width: 0 2px 2px 0; // 矢印の太さ
      padding: 3px; // 矢印のサイズ
    }

    &:before {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg); // 上の線を斜めにする
    }

    &:after {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg); // 下の線を斜めにする
      margin-left: 4px; // 二重線の矢印の見た目にするために調整
    }
  }
}

// props
.black {
  color: var(--main-black-color);
}
.white {
  color: var(--main-white-color);
}
