.logoLink {
  display: block;
  width: 200px;
}
.logoImg {
}

/* props css */
.small {
  width: 100px;
}
.medium {
  width: 150px;
}
.large {
  width: 200px;
}

@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 768px) {
}
