.logo {
  width: 130px;
  margin-top: 20px;
  margin-left: 30px;
}
.container {
  display: block;
  width: 100%;
  cursor: pointer;
}
.logoimg {
  width: 100%;
}

/* props */
.small {
  width: 100px;
  height: 80px;
}
.medium {
  width: 130px;
  height: 100px;
}
.large {
  width: 230px;
  height: 130px;
}

/* タブレット */
@media screen and (max-width: 1280px) {
  .logo {
  }
  .container {
  }
  .logoimg {
  }
}

/* スマートフォン */
@media screen and (max-width: 768px) {
  .logo {
  }
  .container {
  }
  .logoimg {
  }
}
