@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");
.titleBox {
  width: 100%;
  height: 120px;
  margin-top: 30px;
  margin-bottom: 100px;
}
.title {
  position: relative;
  display: block;
  color: white;
  font-size: 130px;
  margin: 0px;
  font-weight: bold;
  font-family: "Overpass", sans-serif;
}
/* .title2 {
  position: absolute;
  top: -50px;
  left: 20px;
  color: black;
  font-size: 100px;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff,
    1px -1px 0 #fff, 0px 1px 0 #fff, 0-1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
} */

/* props css styling */
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

/* タブレット */
@media screen and (max-width: 1280px) {
}

/* スマートフォン */
@media screen and (max-width: 768px) {
  .titleBox {
    height: 70px;
    margin-bottom: 0px;
  }
  .title {
    font-size: 50px;
  }
}
