.skill {
  width: 100%;
  padding: var(--section-defualt);
  .container {
    width: 60%;
    margin: 0 auto;
    .mainContent {
      .desc {
      }
      .flexBox {
        .chart {
          color: white;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
}
