.header {
    position: relative;
    position: fixed;
    display: flex;
    width: 100vw;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding-right: 50px;
    z-index: 2;
}
.toggle {
    margin-left: 200px;
    color: white;
    &:hover {
        color: rgb(157, 157, 157);
        cursor: pointer;
    }
}

.sns-icons {
    padding: 3px;
    margin-right: 20px;
    background-color: var(--primary-color);
    color: white;
}

.contact_button {
    background-color: var(--primary-color);
    border: 1px solid white;
}
