.rowBox {
    display: flex;
    width: 100%;
    height: calc((100% - 20px) / 2);
    min-height: 410px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
    .rowBox {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .rowBox {
        display: block;
    }
}
