.main {
  position: fixed;
  top: 60px;
  left: 180px;
  width: calc(100% - 180px);
  height: calc(100% - 60px);
  overflow: hidden;
  background-color: blue;
}

/* 超重要　sidebarはタブレット以下のサイズでdisplaynoneになるためここで横幅をマックスにする必要がある！ */
/* タブレット */
@media screen and (max-width: 1280px) {
  .main {
    left: 0;
    width: 100%;
    height: 100vh;
  }
}

/* スマートフォン */
@media screen and (max-width: 768px) {
  .main {
    left: 0;
    width: 100%;
    height: 100vh;
  }
}
