.commonLayout {
    position: relative;
    width: 100%;
    height: 100%;
    .container {
        position: absolute;
        width: 90%;
        height: 90%;
        top: 100px;
        left: 250px;
    }
}

@media screen and (max-width: var(--tablet)) {
    .commmonLayout {
        .container {
        }
    }
}

@media screen and (max-width: var(--mobile)) {
    .commmonLayout {
        .container {
        }
    }
}
