.about {
  width: 100%;
  max-width: 1400px;
  height: 1400px;
  padding-top: 30px;
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 768px) {
}
