.blog {
  width: 100%;
  height: 100vh;
  border: 1px solid white;
  overflow: hidden;
  color: white;
}

/* /side scroll styling */
.screen {
  postiion: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  scrpll-behavior: amooth;
}
.container {
  width: 300vw;
  height: 100%;
  display: flex;
}
.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0085d1;
}
.text {
  font-size: 3rem;
  color: white;
}
