.blog {
  width: 80%;
  height: 1000px;
  margin: 0 auto;
  border: 1px solid white;
  overflow: hidden;
  color: white;
}
.container {
  width: 100%;
}
.subText {
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 768px) {
}
