.header {
  width: 100%;
  height: 100px;
}
.container {
  width: 98%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .header {
    height: 80px;
  }
  .container {
  }
}
@media screen and (max-width: 768px) {
  .header {
    height: 50px;
  }
  .container {
    width: 99%;
  }
}
