.hero {
  width: 100%;
  height: 100vh;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: red;
}

/* css typing animation */
.wrapper1 {
  margin-top: 25%;
}
.typingtext {
  width: 34ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 3em;
  color: #00ff00;
  animation: typing 4s steps(34), blink 1.2s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* page down animato */
.wrapper {
  position: absolute;
  bottom: 0;
  left: calc(50% - 50px);
  width: 100px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wrapper .col:last-child {
  background-color: black;
}
.scrolldownbox {
  display: block;
  position: relative;
  text-decoration: none;
}
.scrolldownbox svg {
  fill: #00ff00;
}
.scrolldownbox.alt svg {
  fill: #00ff00;
}
.scrolldownbox .scrolltext {
  width: 100px;
  height: auto;
  -webkit-animation: rotation 10s infinite linear;
  animation: rotation 10s infinite linear;
}
.scrolldownbox.alt .scrolltext {
  -webkit-animation: none;
  animation: none;
}
.scrolldownbox.alt:hover .scrolltext {
  -webkit-animation: rotation 10s infinite linear;
  animation: rotation 10s infinite linear;
}
.scrolldownbox .scrollicon {
  width: 25px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.scrolldownbox.alt .scrollicon {
  width: 35px;
}
.scrolldownbox:hover .scrollicon {
  -webkit-animation: move 1s infinite linear;
  animation: move 1s infinite linear;
}
.scrolldownbox.alt:hover .scrollicon {
  -webkit-animation: none;
  animation: none;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes move {
  0% {
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  25% {
    -ms-transform: translate(-50%, -35%);
    -webkit-transform: translate(-50%, -35%);
    transform: translate(-50%, -35%);
  }
  50% {
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  75% {
    -ms-transform: translate(-50%, -65%);
    -webkit-transform: translate(-50%, -65%);
    transform: translate(-50%, -65%);
  }
  100% {
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
@-webkit-keyframes move {
  0% {
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  25% {
    -ms-transform: translate(-50%, -40%);
    -webkit-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
  }
  50% {
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  75% {
    -ms-transform: translate(-50%, -60%);
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
  }
  100% {
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
