.header {
    width: 100%;
    height: 100px;
    .container {
        width: 100%;
        max-width: 2000px;
        margin: 0 auto;
        .logoArea {

        }
        .menuArea {

        }
        .contactArea {

        }
    }

}

@media screen and (max-width: 1024px) {
}