.moreButton {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
    &:hover {
        color: var(--gray-color);
        transition: all 0.3s ease-in-out;
        transform: translateX(5px);
    }
    .moreButton_icon {
        display: block;
        margin-left: 5px;
    }
}
